<!DOCTYPE html>
<html>
  <head>
    <title>Successful Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>User Details</h1>
    <div>

           		    <p><strong>EmailId: </strong><%= user.username %></p>
                	<p><strong>First Name: </strong><%= user.fname %></p>
                  <p><strong>Last Name: </strong><%= user.lname %></p>
                  <p><strong>Gender: </strong><%= user.gender %></p>
                  <p><strong>Date of birth: </strong><%= user.dob %></p>
	</div>
  </body>
</html>